/* Grupo: 23, Número: 55373, Nome: José Almeida, PL: 12 /
/ Grupo: 23, Número: 54975, Nome: Miguel Lages, PL: 12 /
/ Grupo: 23, Número: 53469, Nome: Pedro Luís, PL: 12 */
 
/* REFERENCIAS DE CORES */

:root {
--AZUL:#333ddd;
--LARANJA:#f5695b;
--ROXO:#645eff;
}

body {
    font-family: sans-serif;
}

#dimmer, #dimmer2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
    z-index: 7;
    transition: all 200ms linear;
}


/* Z-Index usado para o visualizador de fotos dentro de albuns (stacked pop-up) */
#dimmer2 {
    z-index: 9;
}

#container {
    width: 1280px;
    height: 720px;
    border: 10px solid white;
    border-radius: 5px;
    background-color: #645eff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;

}

/* ------------------------------ homePage ------------------------------*/

@font-face {
    font-family: titles;
    src: url(Fontes/Bellania.otf);
  }

.title{
    display: block;
    width: 55%;
    margin: auto auto;
    text-align: center;
    padding: 2%;
    /* font-family: titles; */
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
}

#logo{
    position: absolute;
    /*border:solid;*/
    width: 10%;
    height: auto;
    margin-top:1%;
    margin-right: auto;
    margin-left: 10px;
    top: 5px;
    left: 15px;
}


#profileButton {
    position: absolute;
    right: 120px;
    top: 40px;
    width: 4.5%;
    transition: 600ms ease;  
}

#profileButton:hover {
    transform: scale(1.2);
}

#settingsButton {
    position: absolute;
    right: 40px;
    top: 35px;
    width: 5%;
    transition: 600ms ease; 
}

#settingsButton:hover, #logoutButton:hover {
    transform: scale(1.2);
}

#logoutButton {
    position: absolute;
    right: 190px;
    top: 40px;
    width: 4.5%;
    transition: 600ms ease;
    cursor: pointer;
}

.shareButton, .editButton {
    position: absolute;
    right: 5px;
    width: 40px;
    transition: 600ms ease;
    z-index: 3;
}

.shareButton {
    right: 10px;
    width: 35px;
    top: 4px;
}
.editButton {
    bottom: 4px;
}

.shareButton:hover , .editButton:hover {
    transform: scale(1.2);
}



/* Coisas Login */

#loginButton, #registerButton {

    position: relative;
    border:solid #524cfc;
    width:30%;
    height: 10%;
    margin-top:20%;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    margin-right: auto;
    margin-left: 50%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    line-height: 70px;
    cursor: pointer;
    background-color: #635eff;
}

#registerButton {
    margin-top: 5%;
}

#loginButton:hover, #registerButton:hover {
    transition: 600ms ease;
    background-color:#645eff;
    border-color: white;
}
.cross {
    display: block;
    width:25px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#loginBox, #registerBox, #importBox, #exportBox, #changePasswordBox, #changeUserNameBox, #changeEmailBox {
    display: none;
    position: absolute;
    border: solid 10px white;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 25%;
    height: 60%;
    background-color: #645eff;
    transition: all 200ms linear;
    /* border-radius: 15px; */
    opacity: 0;
    z-index: 9;
    color: white;
}


/*------------------------------------ADICIONEI ISTO------------------------------------------------*/
#escolhaAvatar{
    display: none;
    height: 210px;
    width: 250px;
    position: relative;
    left: 35px;
    height: 60%;
    display:none;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

.help {
    border-radius: 100px;
    background-color: #645eff;
    border-color: #d9d9d9;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 10%;
    left: 92%;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.help:hover{
    transition: 600ms ease;
    background-color:#645eff;
    border-color: white;
    transform: scale(1.2);
}

/*------------------------------------Ate aqui------------------------------------------------*/

#loginBox {
    height: 50%;
}

/* Definição de Scrollbars*/

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: rgba(0,0,0,0.2); 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(255, 255, 255); 
border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(255, 255, 255); 
}



#loginForm, #registerForm, #changePasswordForm, #changeUserNameForm, #changeEmailForm {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

#changeUserNameForm input[type=text], #changeEmailForm input[type=email],
#changePasswordForm input[type=password],
#loginForm input[type=text], #loginForm input[type=password],
#registerForm input[type=text], #registerForm input[type=email],
#registerForm input[type=password], .formButton {
  width: 80%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: 3px solid black;

  /* Evitar borda azul que aparece ao clicar num campo de texto */
  outline:0;
}

.formButton {
    cursor: pointer;
    bottom: -100px;
    transition: 200ms ease;
    font-weight: bold;
    background-color: white;
}

.formButton:hover {
    transform: scale(1.1);
}

#saveAlbumButton, #discardAlbumButton {
    display: block;
    right: 310px; /* Others: 480px*/
    width: 130px;
    position: absolute;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    text-align:center;
    border-radius: 5px;
    transition: 600ms ease;
    height: 60px;
    bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

#saveAlbumButton {
    border: solid 5px white;
    color: white;
    position: absolute;
    right: 512px;
    
}

#discardAlbumButton {

    position: absolute;
    right: 338px;
    border: solid 5px red;
    color: red;
}

#saveAlbumButton:hover {
    transform: scale(1.05);
}

#discardAlbumButton:hover {
    transform: scale(1.05);
    background-color: red;
    color: black;
}


/* Coisas Albums */

#containerAlbums {
    color: white;
    width: 750px;
    height: 550px;
    gap: 5% 5%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: dense;
    text-align: center;
    grid-gap: 50px;
    overflow:auto;
    padding: 10px;
}

.albumButton {
    position: relative;
    border: 5px solid white;
    border-radius: 5px;
    height: 140px;
    font-size: 25px;
    transition: 0.3s;
    /* border-radius: 15px; */
    background-color: rgba(0,0,0,0.2);
    width: 320px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.albumButton:hover{
    transform: scale(1.05);
}

#newAlbumButton {
    color: white;
    text-decoration: none;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
}    

#newAlbumIcon {
    width: 110px;
    display: block;
    /* Standard */
	transition: all 1s ease;
   /* Firefox */
	-moz-transition: all 1s ease;
	/* WebKit */
	-webkit-transition: all 1s ease;
	/* Opera */
	-o-transition: all 1s ease;
}

#newAlbumIcon:hover {
    /* Standard */
	transform: rotate(360deg);
    /* Firefox */
	-moz-transform: rotate(360deg);
	/* WebKit */
	-webkit-transform:  rotate(360deg);
	/* Opera */
	-o-transform: rotate(360deg);
	
}

/* ------------------------------ profile ------------------------------*/

#profilePicture {
    display:block;
    position: relative;
    width: 270px;
    height: 270px;
    margin-top: 1,5%;
    text-align: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid white;
    border-radius: 15px;
}

#profileStatsTable {
    color: white;
    display:block;
    position: flex;
    width: 840px;
    height: 200px;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
}

#profileStatsTable th, tr {
    width: 280px;
}

#profileTableData {
    font-size: 70px;
    text-transform: uppercase;
}

#profileTableSubtitle {
    font-size: 25px;
    text-transform: uppercase;
}

#totalProfileAlbuns, #totalProfilePhotos {
    position: relative;
    color: white;
    text-align: center;
}

/* ------------------------------ settings ------------------------------*/

#settingsInformation {
    display: flex;
}

#settingsPicture {  
    width: 300px;
    height: 300px;
    margin-top: 7%;
    margin-left: 10%;
    border: 4px solid white;
    border-radius: 15px;
}

#settingsTable {
    text-align: left;
    color: white;
    font-size: 23px;
    width: 450px;
    height: 300px;
    margin-top: 7%;
    margin-left:10%;
}

#stgsUserName, #stgsEmail {
    border-bottom: 4px solid rgba(255, 255, 255, 0.6);
    font-size: 20px;
}

#editSettingsIcon {
    width: 30px;
    margin-left: -40px;
    cursor: pointer;
}

#changeUserNameBox, #changeEmailBox {
    width: 25%;
    height: 40%;
}

#settingsPassword {
    padding-top: 25px;
}

#changePasswordButton {
    background: none;
    border: none;
    color: white;
    font-size: 23px;
    cursor: pointer;
    width: 450px;
    height: 50px;
}

#changePasswordBox {
    width: 25%;
    height: 70%;
}

#darkModeBtn {
    position: absolute;
    width: 55px;
    height: 32px;
    margin-left: -55px;
    border-radius: 40px;
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#darkModeBtn span {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color:white;
    box-shadow: 0px 2px 22px #d9d9d9;
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

#darkModeBtn span:before,#darkModeBtn span:after {
    content: '';
    position: absolute;
    top: 7px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

#darkModeBtn span:before {
    background-color: white;
    transform: translate(-22px,0px);
    z-index: 1;
}

#darkModeBtn span:after {
    background-color:#4d49ca;
    transform: translate(8px,0px);
    z-index: 0;
}

#darkModeBtn input[type="checkbox"]:checked + span {
    background-color: #4d49ca;
}

#darkModeBtn input[type="checkbox"]:active + span {
    opacity: 0.5;
}

#darkModeBtn input[type="checkbox"]:checked + span:before {
    background-color: #4d49ca;
    transform: translate(35px,-4px);
}

#darkModeBtn input[type="checkbox"]:checked + span:after {
    background-color: white;
    transform: translate(27px,0px);
}


/* ------------------------------ newAlbum ------------------------------*/

#createNewAlbum {
    color: white;
    font-size: 25px;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto auto;
    grid-row-gap: 200px;
    grid-column-gap: 10% ;
    /* border-radius: 15px; */
    font-weight: bold;
}

#photosPreview {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    border: 10px solid white;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    /* border-radius: 15px; */
    width: 410px;
    height: 470px;
    padding-top: 15px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    overflow: auto;
    grid-gap: 1em;
}


#createNewAlbum h4 {
    position: absolute;
    top: 105px;
    left: 45px;
}

/* ESTES SÃO OS DIVZINHOS DA PREVIEW */
#photosPreview div {
    width: 160px;
    height: 120px;
    border: solid;
    align-self: auto;
    transition: 200ms ease;
    cursor: pointer;

}

#photosPreview div:hover {
    transform: scale(1.05);
}

#photosPreview div img {
    object-fit: cover;
    width: 100%;
    height: 120px;

}

#newAlbumName {
    position: absolute;
    top: 27%;
    left: 50%;
    height: 3%;
    width: 255px;
    padding: 10px;
    border: 3px solid rgb(15, 2, 21);
    font-size: large;
}


#newAlbumExtraDetails a{
    margin-bottom: 25px;
    position: relative;

}

#newAlbumDetails div input, #newAlbumDetails div select{
    display: block;
    margin-top: 10%;

    height: 3%;
    width: 255px;
    padding: 10px;
    border: 3px solid rgb(15, 2, 21);
    font-size: large;
    cursor: pointer;
}

#importButton {
    position: absolute;
    top:15em;
    right: 370px;

    border: 5px solid white;
    border-radius: 5px;
    padding: 2%;
    /* border-radius: 15px; */
    text-align: center;
    width:7em;
    cursor: pointer;
    transition: 600ms ease;

    background-color: rgba(0,0,0,0.2);
}

#importButton:hover, #removeDuplicatesButton:hover {
    transform: scale(1.05);
}

#removeDuplicatesButton {
    line-height:30px;
    display: none;
    right: 6.1em;
    height: 60px;
    text-align: center;
    width: 150px;
    position: absolute;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    text-align:center;
    border: solid 5px white;
    border-radius: 5px;
    top: 271px;
    transition: 600ms ease;
    font-size: 20px;
}

#newAlbumExtraDetails {
    border: solid 5px white;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;

    position: absolute;
    top: 270px;
}

.backArrow {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 5%;
    transition: 600ms ease; 
    cursor: pointer; 
}

.backArrow:hover {
    transform: scale(1.3);
}

.logo {
    width: 50px;
    position: relative;
    padding: 5%;
    cursor: pointer;
    transition: 600ms ease;  
}

#importBox, #exportBox {
    padding: 2%;
    height: 40%;
}

#exportBox {
    width: 400px;
    height: 500px;
}

#importBox h2 {
    position: relative;
    margin-left: 2%;
    margin-top: 5%;
}

#exportBox h2 {
    position: relative;
    margin-left: 2%;
    margin-top: 2%;
}

#exportBox h1 {
    margin-top: 0;
}

.logo:hover {
    transform: scale(1.3);
}

#unavailable {
    position: absolute;
    width: 30%;
    left: 35%;
}

#photoViewer, #albumPhotoViewer {
    display: none;
    border:solid 10px white;
    border-radius: 5px;
    position: absolute;
    max-height: 600px;
    max-width: 800px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 300ms ease;
    z-index: 9;
    overflow: hidden;
    opacity: 0;
    background-color: black;
}   

#albumPhotoViewer {
    max-height: 570px;
    z-index: 10;
}

#selectedPhoto {
    display: block;
    transition: 300ms ease;
}

#warningBox, #notificationBox {
    width: 300px;
    height: 0px;
    opacity: 0;
    display: flex;
    position: absolute;
    top: -2px;
    right: 0px;
    transition: 300ms ease;
    z-index: 9;
    border: solid 5px white;
    border-radius: 5px;
    background-color: rgba(255, 68, 0, 0.844);
    align-items: center;
    justify-content: left;
    overflow: hidden;
    color: white;
}

#notificationBox {
    background-color: #524cfc;
    width: 330px
}


#warningBox h2, #notificationBox h2 {
    order: 2;
    width: 200px;
}

#notificationBox h2 {
    width: 300px;
}

body {
    background-color: rgb(155, 155, 155);
}

#warningBox img, #notificationBox img {
    order: 1;
    margin-top:auto;
    margin-bottom: auto; 
}

#successBox, #deleteWarningBox, #registerSuccessBox, #confirmationBox {
    display: none;
    opacity: 0;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: solid 10px white;
    border-radius: 5px;
    z-index: 9;
    background-color: #635eff;
    color: white;
    text-align: center;
    transition: 600ms ease;
}

#confirmationBox {
    max-width: 600px;
    max-height: 300px;
    overflow: hidden;
    padding: 2%;
}

#confirmationButton1, #confirmationButton2 {
    cursor: pointer;
    font-weight: bold;
    display: inline;
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100px;
    height: 50px;
    font-size: large;
    transition: 600ms ease;
}

#confirmationButton1 {
    color: black;
    background-color: red;
    border: solid red;
    border-radius: 5px;
}

#confirmationButton2 {
    color: black;
    background-color: white;
    border: solid;
    border-color: white;
    border-radius: 5px;
}

#confirmationButton1:hover, #confirmationButton2:hover {
    transform: scale(1.05);
}

#registerSuccessBox {
    width: 400px;
    height: 350px;
}

#registerSuccessBox img {
    width: 200px;
}

#deleteWarningBox {
    height: 350px;
}

#successBox img {
    width: 200px;
}

#deleteWarningBox img {
    width: 150px;
    margin-top: 20px;
    
}

#deleteWarningBox button {
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 600ms ease;
    text-emphasis: bold;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;

}

#deleteWarningBox button:hover {
    transform: scale(1.05)
} 

#deleteYesButton {
    background-color: red;
    border-color: red;
}

#deleteNoButton {
    background-color: white;
    border-color: white;
}



#albumViewer {
    display: none;
    border:solid 10px white;
    border-radius: 5px;
    position: absolute;
    height: 600px;
    width: 1000px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 300ms ease;
    z-index: 8;
    overflow: hidden;
    opacity: 0;
    background-color: #635eff8e;
}

#albumViewerSlider {
    color: white;
    border-right: solid 10px white;
    width: 100%;
    height: 80%;
    gap: 5% 5%;
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    grid-auto-flow: row dense;
    text-align: center;
    grid-gap: 10px;
    overflow:auto;
}

#albumViewerSlider div {
    width: 160px;
    height: 120px;
    border: solid;
    align-self: auto;
    transition: 200ms ease;
    cursor: pointer;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;

}

#albumViewerSlider div:hover {
    transform: scale(1.05);
}

#albumViewerSlider div img {
    object-fit: cover;
    width: 100%;
    height: 120px;

}

#albumViewerTitle, #albumViewerPictureCount {
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

/* PROPRIEDADES DO BACKGROUND */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.context, .circles, .area, .circles li {
    z-index: 0;
    pointer-events: none;
}

.context {
    width: 100%;
    height: 100%;
    position: absolute;   
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area{
    width: 100%;
    height: 100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* Acrylic Test */

.acrylic {
    /* Parent background + Gaussian blur */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  
    /* Exclusion blend */
    background-blend-mode: exclusion;
  
    /* Color/tint overlay + Opacity */
    z-index: 1;

  }

  /* EDIT ALBUM */

#deleteAlbumButton, #editRemoveDuplicatesButton, #editImportButton, #removeWorse, #editSaveAlbumButton {
    display: block; /* Others: 480px*/
    width: 150px;
    position: absolute;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    text-align:center;
    border-radius: 5px;
    transition: 600ms ease;
}

#deleteAlbumButton {
    bottom: 100px;
    border: solid 5px red;
    color: red;
    right: 280px;
}

#editRemoveDuplicatesButton{
    border: solid 5px white;
    bottom: 235px;

    right: 480px;
}

#editImportButton {
    border: solid 5px white;
    bottom: 330px;

    right: 480px;
}

#deleteAlbumButton:hover, #editRemoveDuplicatesButton:hover, #editImportButton:hover, #removeWorse:hover, #editSaveAlbumButton:hover {
    transform: scale(1.05);
}

#deleteAlbumButton:hover {
    background-color: red;
    color: black;
}

#removeWorse {
    border: solid 5px white;
    bottom: 301px;
    right: 480px;
    right: 280px;
}

#editSaveAlbumButton {
    border: solid 5px white;
    bottom: 100px;
    right: 480px;
}

#exportConfirmation, #exportConfirmationImage {
    display: none;
}

#exportConfirmationImage {
    width: 300px;
    margin: auto;
    margin-bottom: auto;

}

#exportConfirmation {
    margin:auto;
    position: absolute;
    left: 50px;
}