/* Interação com Computadores 2020/2021
Grupo 23:
Pedro Luís 
Miguel Lages 54975
José Almeida
*/
 
body {
    font-family: sans-serif;
}

#container {
    width: 1280px;
    height: 720px;
    border: 4px solid black;
    background-color: navajowhite;
    margin-left: auto;
    margin-right: auto;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

/* ------------------------------ HOMEPAGE ------------------------------*/

#Titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: solid green;*/
    padding: 2%;
    /*width: 10%;
    height: 10%;*/
    font-size: x-large;
}


#containerAlbuns {
    width: 60%;
    height: 70%;
    gap: 5% 5%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: dense;
    text-align: center;
    font-size: 25px;
    grid-gap: 70px;
    /*border: solid red;*/
    overflow:auto;
}




.botaoAlbum {
    border: 4px solid black;
    height: 170%;
}
.botaoAlbum:hover{
    background-color: #d5d507;
  }